{% comment %}

{% extends 'common/base.html' %}
{% load static %}

{% block title %}
	MegabikeCRM: Kd{{ customer.kundennummer }}
{% endblock %}

{% block header %}
	<h1 class="h2 mb-0 text-gray-800">{{ customer.kundennummer }}: {{ customer.nachname }}</h1>
{% endblock %}

{% block content %}
	<h1 class="h3 mb-0 text-gray-800">Fahrzeug erstellen</h1>
	<br/>
	<form action="" method="post">
		{% csrf_token %}
		<table>
			{{ bike_form.as_table }}
		</table>
		<input type="submit" value="Submit">
	</form>
{% endblock %}
{% endcomment %}

<!-- Modal -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Fahrzeug hinzufügen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method='POST' enctype="multipart/form-data" action="{% url 'customers:bike-input' pk=customer.kundennummer %}">
        {% csrf_token %}
        <div class="modal-body">
            <table>
              {{ bike_form.as_table }}
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" value="Save" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>

<script>
    var form_options = { target: '#modal', success: function(response) {} };
    $('#news-create').ajaxForm(form_options);
</script>