{% extends 'common/base.html' %}
{% load static %}

{% block title %}
	MegabikeCRM: Kunde erstellen
{% endblock %}

{% block header %}
	<h1 class="h2 mb-0 text-gray-800">Kd{{ customer.kundennummer }} bearbeiten</h1>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row top-buffer">
			<div class="col-xl-8">
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary"></h6>
					</div>
					<div class="card-body">
						<form method='POST'>
							{% csrf_token %}
							<table>
								{{ form.as_table }}
							</table>
							<input type='submit' value='Save' class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script>
		$("#id_kundennummer").change(function () {
			console.log( $(this).val() );
		});

		$("#id_bike_set-0-insurance").change(function () {
			console.log( $(this).val() );
		})
	</script>
{% endblock %}