{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block javascript %}
	<script>
		$("#id_kundennummer").change(function () {
			console.log( $(this).val() );
		});
	</script>
{% endblock %}

{% block header %}
	<h1 class="h2 mb-0 text-gray-800">Kundenprofil erstellen</h1>
{% endblock %}

{% block content %}
	<body>
		<form method='POST'>
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<h1 class="h3 mb-0 text-gray-800">Fahrzeuge hinzufügen</h1>
			{{ children.as_table }}

			<input type='submit' value='Save'>
		</form>
	</body>
{% endblock %}
</html> 