{% extends 'common/base.html' %}
{% load static %}
{% load customer_filters %}
{% load warranty_filters %}
{% load insurance_filters %}

{% block title %}
	MegabikeCRM: Kd{{ customer.kundennummer }}
{% endblock %}

{% block header %}
	<h1 class="h2 mb-0 text-gray-800">{{ customer.kundennummer }}: {{ customer.nachname }}</h1>
	<div class="dropdown mb-4">
		<button class="btn btn-primary shadow-dm d-none d-sm-inline-block" type="button"
		id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <i class="fas fa-edit"></i>
		  Kunde bearbeiten
		</button>
		<div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" data-toggle="modal" data-target="#modal" 
				data-url="{% url 'customers:customer-update' pk=customer.kundennummer %}">Kundendaten bearbeiten</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" data-toggle="modal" data-target="#modal" 
				data-url="{% url 'customers:bike-input' pk=customer.kundennummer %}">Fahrzeug hinzufügen</a>
			<a class="dropdown-item" href="{% url 'warranty:new-ticket' %}">Rekla erstellen</a>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row top-buffer">
			<div class="col-xl-12">
				<div class="card shadow mb-4 h-100">
					<a href="#collapseFahrzeuge" class="d-block card-header py-3" data-toggle="collapse" role="button" 
						aria-expanded="true" aria-controls="collaseFahrzeuge">
						<h6 class="m-0 font-weight-bold text-primary">Fahrzeuge ({{ customer.kundennummer|count_bikes }} stk):</h6>
					</a>
					<div class="collapse card-body" id="collapseFahrzeuge">
						{% if bikes %}
							<div class="table-responsive">
							  <table id="dataTable" class="table table-striped">
								<thead class="thead-dark">
								  <tr>
								    <th scope="col">Versicherungsstatus</th>
								    <th scope="col">Beschreibung</th>
								    <th scope="col">Rahmennummer</th>
								  </tr>
								</thead>
								<tbody>
								  {% for bike in bikes %}
								  <tr>
								  <!-- TODO: Dynamically color buttons depending on insurance policy -->
								    <td scope="row">
								    	<a class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#modal"
								    		data-url="{% url 'insurance:display-policy' rn=bike.rahmennummer %}" >
								  	  	  <span class="icon text-white-50">
						  		  	        <i class="fas fa-flag"></i>
						  		  	      </span>
						  		  	      <span class="text">{{ bike.get_insurance_display }}</span>
						  		  	    </a>
						  		    </td>
								    <td>{{ bike.beschreibung }}</td>
								    <td>{{ bike.rahmennummer }}</td>
								  </tr>
								{% endfor %}
								</tbody>
							  </table>
							</div>
						{% else %}
							<li>
								Keine Fahrräder vorhanden.
							</li>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row top-buffer">
			<div class="col-xl-12">
				<div class="card shadow mb-4 h-100">
					<a href="#collapseRekla" class="d-block card-header py-3" data-toggle="collapse" role="button" 
						aria-expanded="true" aria-controls="collaseRekla">
						<h6 class="m-0 font-weight-bold text-primary">Rekla Tickets ({{customer.kundennummer|count_open_tickets_warranty}} in bearbeitung):</h6>
					</a>
					<div class="collapse card-body" id="collapseRekla">
						{% if warranty_tickets %}
							<div class="table-responsive">
							  <table id="dataTable" class="table table-striped">
								<thead class="thead-dark">
								  <tr>
								  	<th scope="col"></th>
								    <th scope="col">Ticket ID:</th>
								    <th scope="col">Status:</th>
								    <th scope="col">Zuletzt bearbeitet:</th>
								    <th scope="col">Hersteller</th>
								  </tr>
								</thead>
								<tbody>
									{% for ticket in warranty_tickets %}
										<tr scope="row">
											<td>
											{# This is a lot of repeated code from warranty/list_all.html #}
												{% if ticket.id|warranty_current_status == 'Erledigt' %}
							      				  	<a href="{% url 'warranty:display-ticket' pk=ticket.id %}" 
							      				  		class="btn btn-secondary btn-circle btn-sm">
							      						<i class="fas fa-check"></i>
							      				  	</a>
							      				{% elif ticket.id|warranty_last_update >= 9 %}
							      				  	<a href="{% url 'warranty:display-ticket' pk=ticket.id %}" 
							      				  		class="btn btn-danger btn-circle btn-sm">
							      				  		<i class="fas fa-exclamation-triangle"></i>
							      				  	</a>
							      				{% elif ticket.id|warranty_last_update >= 5 %}
							    				  	<a href="{% url 'warranty:display-ticket' pk=ticket.id %}" 
							    				  		class="btn btn-warning btn-circle btn-sm">
							      				    	<i class="fas fa-exclamation-triangle"></i>
							      				{% else %}
							      				  	class="btn btn-success btn-circle btn-sm">
							      				  	<i class="fas fa-info-circle"></i>
							  				    {% endif %}
								  				</a>
							  				</td>
											<td><a href="{% url 'warranty:display-ticket' pk=ticket.id %}">{{ ticket.id }}</a></td>
											<td><a href="{% url 'warranty:display-ticket' pk=ticket.id %}">{{ ticket.id|warranty_current_status }}</a></td>
											<td>vor <b>{{ ticket.id|warranty_last_update }}</b> Tage</td>
											<td>{{ ticket.get_hersteller_display }}
										</tr>
									{% endfor %}
								</tbody>
							  </table>
							</div>
						{% else %}
							<li>
								Keine Reklas vorhanden.
							</li>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row top-buffer">
			<div class="col-xl-12">
				<div class="card shadow mb-4 h-100">
					<a href="#collapseInsurance" class="d-block card-header py-3" data-toggle="collapse" role="button" 
						aria-expanded="true" aria-controls="collaseInsurance">
						<h6 class="m-0 font-weight-bold text-primary">Insurance Tickets ({{customer.kundennummer|count_open_tickets_insurance}} in bearbeitung):</h6>
					</a>
					<div class="collapse card-body" id="collapseInsurance">
						{% if insurance_tickets %}
							<div class="table-responsive">
							  <table id="dataTable" class="table table-striped">
								<thead class="thead-dark">
								  <tr>
								  	<th scope="col"></th>
								    <th scope="col">Schadensnummer</th>								  	
								  	<th scope="col">Status</th>
								    <th scope="col">Vorgangsnummer</th>
								    <th scope="col">Reparatur Datum</th>
								    <th scope="col">Zuletzt bearbeitet</th>
								  </tr>
								</thead>
								<tbody>
									{% for ticket in insurance_tickets %}
										<tr scope="row">
											<td>
												<a href="{% url 'insurance:schaden-detail' pk=ticket.id %}"
													{% if ticket.id|insurance_current_status in schaden_erledigt %}
							      				  		class="btn btn-secondary btn-circle btn-sm">
							      						<i class="fas fa-check"></i>
								      				{% elif ticket.id|insurance_last_update >= 9 %} 
								      				  		class="btn btn-danger btn-circle btn-sm">
								      				  		<i class="fas fa-exclamation-triangle"></i>
								      				{% elif ticket.id|insurance_last_update >= 5 %} 
								    				  		class="btn btn-warning btn-circle btn-sm">
								      				    	<i class="fas fa-exclamation-triangle"></i>
								      				{% else %}
								      				  	class="btn btn-success btn-circle btn-sm">
								      				  	<i class="fas fa-info-circle"></i>
								  				    {% endif %}
							  				    </a>
							  				</td>
							  				
							  				<td><a href="{% url 'insurance:schaden-detail' pk=ticket.id %}" {# create modal for complete basic info + files, button to edit #}>{{ticket.get_unternehmen_display}}: {{ticket.schadensnummer}}</a></td>
							  				<td><a href="#" {# modal to view complete current status w/ file, button to edit status #}>{{ticket|insurance_current_status}}</td>
											<td>
												{{ticket.auftragsnr}}
												{% if ticket.rechnungsnr %} / {{ticket.rechnungsnr}} {% endif %}
											</td>
											<td>{% if ticket.reparatur_datum %}
													{{ticket.reparatur_datum}}
												{% else %}
														---- 
												{% endif %}
											</td>
											<td>vor <b>{{ticket|insurance_last_update}}</b> Tage</td>
										</tr>
									{% endfor %}
								</tbody>
							  </table>
							</div>
						{% else %}
							<li>
								Keine Insurance Tickets vorhanden.
							</li>
						{% endif %}
					</div>
				</div>
			</div>
		</div>


	</div>

<div class="modal" id="modal" tabindex="-1" role="dialog"></div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>

	<!-- ajax form submission -->
	<script src="{% static 'js/jquery.form.js' %}"></script>

	<!-- load response from desired form url -->
	<script>
		$('#modal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
		    var form_url = button.data('url')

		    var modal = $(this)
		    
		    $.ajax({
		        url: form_url,
		        context: document.body,
		        async: true,

		    }).done(function(response) {
		        modal.html(response);
		    });
		})
	</script>
{% endblock %}