{% extends 'common/base.html' %}
{% load static %}

{% block title %}
	MegabikeCRM: Kunde erstellen
{% endblock %}

{% block header %}
	<h1 class="h2 mb-0 text-gray-800">Kundenprofil erstellen</h1>
{% endblock %}

{% block content %}
	<body>
		<form method='POST'>
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<br/>
			<h1 class="h4 mb-0 text-gray-800">Fahrzeug hinzufügen</h1>
			<table>
				{{ children.as_table }}
			</table>
			<input type='submit' class="btn btn-primary btn-lg" value='Save'>
		</form>
	</body>
{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script>
		$("#id_kundennummer").change(function () {
			console.log( $(this).val() );
		});

		$("#id_bike_set-0-insurance").change(function () {
			console.log( $(this).val() );
		})
	</script>
{% endblock %}