{% extends 'common/base.html' %}
{% load static %}

{% block title %}
	MegabikeCRM: Eurorad Info
{% endblock %}

{% block header %}
	<h1 class="h2 mb-0 text-gray-800">Generelle Information zur Eurorad Versicherung</h1>
{% endblock %}

{% block content %}
	<!--
	<p>Things to include on this page:
	<ul>
		<li>Example invoice</li>
		<li>Policy versions</li>
		<li>Contact information</li>
		<li>Useful stuff for the sales team?</li>
	</ul>
	-->

	<div class="container-fluid">
		<div class="row top-buffer">
			<div class="col-xl-8">
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Generelle Info:</h6>
					</div>
					<div class="card-body">
						<ul>
							<li>Rechnung auf AGL Leasing schreiben</li>
							<li>Schadensmeldung per Telefon oder beim Assona-Portal</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Kontakt Info:</h6>
					</div>
					<div class="card-body">
						<ul>
							<li><a href="http://plusgarantie.zeg.de/">Consumerseite</a></li>
							<li><a href="#">Händlerportal</a></li>
							<li>Telefon: 030 - 208 666 54</li>
							<li>Fax: 030 - 208 666 56</li>
							<li>Email: kundenservice@assona.de</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row top-buffer">
			<div class="col-lg-6">
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Von der Kunde benötigen wir:</h6>
					</div>
					<div class="card-body">
						<ul>
							<li>Versicherungskarte</li>
							&emsp; <b>ODER</b>
							<li>Vertragsnummer</li>
							&emsp; <b>ODER</b>
							<li>Rahmennummer</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Für den Schadensmeldung benötigen wir:</h6>
					</div>
					<div class="card-body">
						<ul>
							<li>Rahmennummer</li>
							<li>Schilderung des Schadenhergangs</li>
							<li>Beschreibung Schadenbild (inkl. Einschätzung der Ursache)</li>
							<li>Höhe der Reparaturkosten</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row top-buffer">
			<div class="col-lg-6">
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Versichert ist:</h6>
					</div>
					<div class="card-body">
						<ul>
							<li>Verschleiß</li>
							<li>Pick-up-Service</li>
							<li>Diebstahl</li>
							<li>Vandilismus</li>
							<li>Akkuschäden (auch durch verschleiß)</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Nicht versichert ist:</h6>
					</div>
					<div class="card-body">
						<ul>
							<li>Kosten für Inspektionen</li>
							<li>Kosten für Wartungs- oder Einstellarbeiten</li>
							<li>Die Kosten von Miet- und Leihrädern</li>
							<li>Verlieren, Stehen- oder Liegenlassen des E-Bikes oder Teile</li>
							<li>Schäden, wodurch die Funktionfähikeit nicht beeinträchtigt wird</li>
							<li>Schäden, die beim Wettkampfveranstaltung entstehen</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}