{% extends 'common/base.html' %}
{% load static %}

{% block title %}
	MegabikeCRM: Versicherung {{ bike.rahmennummer }}
{% endblock %}

{% block header %}
	<h1 class="h2 mb-0 text-gray-800">{{ bike.kunde.kundennummer }}: {{ bike.kunde.nachname }}</h1>
{% endblock %}

{% block content %}
	<h1 class="h3 mb-0 text-gray-800">Versicherungsinformation für {{ bike.beschreibung }} ({{ bike.rahmennummer }})</h1>
	<br/>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{{ ins_form.as_table }}
			{{ update_bike.as_table }}
		</table>
		<input type="submit" value="Submit">
	</form>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		  crossorigin="anonymous">

	<!-- JQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	crossorigin="anonymous"></script>

	{% comment %}
    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
			integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA="
			crossorigin="anonymous"></script>
	{% endcomment %}

	{{ ins_form.media }}
{% endblock %}