{% load static %}
{% load insurance_filters %}
{% load warranty_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} MegabikeCRM {% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/megabike-crm.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="far fa-thumbs-up"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Megabike <sup>CRM</sup></div>
            </a>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Customers -->
            <li class="nav-item inactive">
                <a class="nav-link" href="{% url 'customers:customer-list' %}">
                    <i class="fas fa-users"></i>
                    <span>Unsere Kunden</span>
                </a>
            </li>

            <hr class="sidebar-divider my-0">

            <li class="nav-item inactive">
                <a class="nav-link" href="{% url 'contact:call-list' abteilung='all' filter='all' %}">
                    <i class="fas fa-phone"></i>
                    <span>Kontaktanfragen</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <!-- Leasing Heading -->
            <div class="sidebar-heading">
                Leasing
            </div>

            <!-- Nav Item - Leasing Info Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLeasing"
                    aria-expanded="true" aria-controls="collapseLeasing">
                    <i class="fas fa-info-circle"></i>
                    <span>Generelle Infos</span>
                </a>
                <div id="collapseLeasing" class="collapse" aria-labelledby="headingLeasing" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Unternhemen:</h6>
                        <a class="collapse-item" href="{% url 'leasing:info-page' unternehmen='bikeleasing' %}">Bikeleasing Service</a>
                        <a class="collapse-item" href="{% url 'leasing:info-page' unternehmen='businessbike' %}">Businessbike</a>
                        <a class="collapse-item" href="{% url 'leasing:info-page' unternehmen='eurorad' %}">Eurorad</a>
                        <a class="collapse-item" href="{% url 'leasing:info-page' unternehmen='jobrad' %}">JobRad</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <!-- Insurance Heading -->
            <div class="sidebar-heading">
                Versicherung
            </div>

            <li class="nav-item inactive">
                <a class="nav-link" href="{% url 'insurance:schaden-list' filter='open' %}">
                    <i class="fas fa-car-crash"></i>
                    <span>Schadensmeldungen</span></a>
            </li>

            <li class="nav-item inactive">
                <a class="nav-link" href="{% url 'insurance:list-all' %}">
                    <i class="fas fa-id-card"></i>
                    <span>Policen</span></a>
            </li>

            <!-- Nav Item - Insurance Info Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-info-circle"></i>
                    <span>Generelle Infos</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Unternehmen:</h6>
                        <a class="collapse-item" href="{% url 'insurance:info-page' insurance='assona' %}">Assona</a>
                        <a class="collapse-item" href="{% url 'insurance:info-page' insurance='bikeleasing' %}">Bikeleasing Service</a>
                        <a class="collapse-item" href="{% url 'insurance:info-page' insurance='businessbike' %}">Businessbike</a>
                        <a class="collapse-item" href="{% url 'insurance:info-page' insurance='enra' %}">ENRA</a>
                        <a class="collapse-item" href="{% url 'insurance:info-page' insurance='eurorad' %}">Eurorad</a>
                        <a class="collapse-item" href="{% url 'insurance:info-page' insurance='jobrad' %}">JobRad</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <!-- Warranty Heading -->
            <div class="sidebar-heading">
                Reklamation
            </div>

            <li class="nav-item">
                <a class="nav-link inactive" href="{% url 'warranty:main' %}">
                    <i class="fas fa-inbox"></i>
                    <span>Kunden Reklamation</span>
                </a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Phone Contacts Alerts-->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="phoneDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-phone"></i>
                                <span class="badge badge-danger badge-counter">
                                    {{open_contact_tickets.count}}
                                </span>
                            </a>
                            <!-- Dropdown - Phone Contacts Alerts-->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="phoneDropdown">
                                <h6 class="dropdown-header">
                                    Offene Kontaktanfragen
                                </h6>
                                {% for contact in open_contact_tickets %}
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'contact:call-list' abteilung='all' filter='open' %}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">{{contact.date}} {{contact.get_abteilung_display}}</div>
                                            <span class="font-weight-bold">{{contact.kundenname}} {{contact.telefonnr}}</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>

                        <!-- Nav Item - Insurance Claims Alerts-->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="insuranceDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-car-crash"></i>
                                <!-- Counter - Insurance Claims -->
                                <span class="badge badge-danger badge-counter">{{faellige_insurance_tickets.count}}</span>
                            </a>
                        <!-- Dropdown - Insurance Claims Alerts-->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="insuranceDropdown">
                                <h6 class="dropdown-header">
                                    Fällige Schadensmeldungen
                                </h6>
                                
                                {% for ticket in faellige_insurance_tickets %}
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'insurance:schaden-detail' pk=ticket.id %}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">{{ticket|insurance_last_update_date}} {{ticket|insurance_current_status}}</div>
                                            <span class="font-weight-bold">{{ticket.auftragsnr}}: {{ticket.kunde.nachname}}</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>

                         <!-- Nav Item - Warranty Tickets -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="warrrantyDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-wrench"></i>
                                <!-- Counter - Warranty Tickets -->
                                <span class="badge badge-danger badge-counter">{{faellige_warranty_tickets.count}}</span>
                            </a>
                        <!-- Dropdown - Insurance Claims -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="warrantyDropdown">
                                <h6 class="dropdown-header">
                                    Fällige Reklamation
                                </h6>
                                {% for ticket in faellige_warranty_tickets %}
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'warranty:display-ticket' pk=ticket.id %}">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">{{ticket|warranty_last_update_date}} {{ticket|warranty_current_status}}</div>
                                            <span class="font-weight-bold">{{ticket.get_hersteller_display}}{{ticket.id}}</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Nutzer: {{ user.get_username}}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        {% block header %}
                            <h1 class="h3 mb-0 text-gray-800"> Dashboard</h1>
                        {% endblock %}
                    </div>

                    {% block content %}

                    {% endblock %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Ryan Daly 2021</span><br/>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}
        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
        <!--<script type="text/javascript" src="{% static 'js/main.js' %}"></script>-->
    {% endblock %}
</body>

</html>