{% extends 'common/base.html' %}
{% load static %}

{% block title %}
	MegabikeCRM: Main
{% endblock %}

{% block header %}
	<h1 class="h3 mb-0 text-gray-800"> Main Page Header</h1>
{% endblock %}

{% block content %}
<div class="row">
    <!-- Contact Collapsable Card -->
	<div class="card shadow mb-4">
	    <!-- Card Header - Accordion -->
	    <a href="#collapseCardContact" class="d-block card-header py-3" data-toggle="collapse"
	        role="button" aria-expanded="true" aria-controls="collapseCardContact">
	        <h6 class="m-0 font-weight-bold text-primary">Kontaktanfragen</h6>
	    </a>
	    <!-- Card Content - Collapse -->
	    <div class="collapse show" id="collapseCardContact">
	        <div class="card-body">
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-warning shadow h-100 py-2">
					    <div class="card-body">
					        <div class="row no-gutters align-items-center">
					            <div class="col mr-2">
					                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
					                    Offene Kontaktanfragen</div>
					                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
					            </div>
					            <div class="col-auto">
					                <i class="fas fa-phone fa-2x text-gray-300"></i>
					            </div>
					        </div>
					    </div>
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
{% endblock %}
