{% extends 'common/base.html' %}
{% load static %}

{% block header %}
	<h1 class="h2 mb-0 text-gray-800">Rekla Ticket: {{ reklaticket.id }}</h1>
	<a href="{% url 'warranty:update-ticket' pk=reklaticket.id %}" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Ticket bearbeiten</a>
{% endblock %}

{% block content %}
	<table class='table table-striped'>
		<tr>
			<th scope='row'>Kunde:</th>
			<td>{{ reklaticket.kunde }}</td>
		</tr>
		<tr>
			<th scope='row'>Status:</th>
			<td>{{ reklaticket.get_status_display }}</td>
		</tr>
		<tr>
			<th scope='row'>Sachbearbeiter: </th>
			<td>{{ reklaticket.get_sachbearbeiter_display }}</td>
		</tr>
		<tr>
			<th scope='row'>Erstellt an: </th>
			<td>{{ reklaticket.date_created }}</td>
		</tr>
		<tr>
			<th scope='row'>Hersteller: </th>
			<td>{{ reklaticket.hersteller }}</td>
		</tr>
		<tr>
			<th scope='row'>Artikelnummer: </th>
			<td>{{ reklaticket.artikelnr }}</td>
		</tr>
		<tr>
			<th scope='row'>Bezeichnung: </th>
			<td>{{ reklaticket.bezeichnung }}</td>
		</tr>
		<tr>
			<th scope='row'>Menge: </th>
			<td>{{ reklaticket.menge }}</td>
		</tr>
		<tr>
			<th scope='row'>Auftragsnr: </th>
			<td>{{ reklaticket.auftragsnr }}</td>
		</tr>
		<tr>
			<th scope='row'>Fehlerbeschreibung: </th>
			<td>{{ reklaticket.fehlerbeschreibung }}</td>
		</tr>
	</table>
{% endblock %}


{% block javascript %}
	{{ block.super }}
{% endblock %}